@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Default Dotnet Application</h1>
    <p>This template is to be used in my DevOps Project Journet as a default template for fast progressions</p>
</div>
